In [2]:
import pandas as pd
import numpy as np

# 데이터 불러오기

## 경매 2

In [172]:
# 경매데이터
auction_1 = pd.read_csv('0_마지막_경매데이터_진짜마지막_전처리완료요.csv', header='infer', engine='python', encoding='utf-8-sig', sep=',')

In [173]:
auction_1.columns

Index(['사건번호', '중복사건여부', '유치권여부', '대항력있는임차인여부', '위반건축물여부', '대지권미등기여부',
       '권리분석기타코드', '권리분석코드명', '감정가', '유찰수', '최저가', '최저가율', '매각가', '매각가율',
       '입찰수', '경매결과', '조회수', 'Index', '경매구분', '주소', '도로명주소', '우편번호', '용도',
       '대지권', '전용면적', '제시외', '사건접수날짜', '청구금액', '개시결정', '기일현황', '물건현황_토지이용계획',
       '감정평가현황', '임차인_대항력여부', '등기사항_소멸여부', '상세페이지링크', '미상임차인_수', '예상추가금액'],
      dtype='object')

In [174]:
# 경매데이터 컬럼확인 후 전처리
auction_1_drop = auction_1.drop([  '유찰수', '입찰수', '상세페이지링크'], axis=1)

In [175]:
auction_1_drop.isnull().sum()

사건번호              0
중복사건여부            0
유치권여부             0
대항력있는임차인여부        0
위반건축물여부           0
대지권미등기여부          0
권리분석기타코드       1628
권리분석코드명        1628
감정가               0
최저가               0
최저가율             46
매각가             202
매각가율            202
경매결과              0
조회수               0
Index             0
경매구분              0
주소                0
도로명주소            25
우편번호             25
용도                0
대지권               0
전용면적              0
제시외            2409
사건접수날짜          376
청구금액              0
개시결정              0
기일현황              0
물건현황_토지이용계획       0
감정평가현황            0
임차인_대항력여부         0
등기사항_소멸여부         0
미상임차인_수           0
예상추가금액            0
dtype: int64

In [176]:
auction_1_drop.최저가율 = (auction_1_drop.최저가/auction_1_drop.감정가)*100

In [177]:
# 경매데이터 결측치 처리
auction_1_drop.권리분석기타코드 = auction_1_drop.권리분석기타코드.fillna('0')
auction_1_drop.권리분석코드명 = auction_1_drop.권리분석코드명.fillna('0')

In [178]:
# 주소확인
auction_1_drop.주소[68] # 도봉구 쌍문동 31-15
auction_1_drop.주소[82] # 종로구 묘동 53
auction_1_drop.주소[90] # 동대문구 신설동 89
auction_1_drop.주소[633] # 성북구 정릉동 1031
auction_1_drop.주소[113] # 성동구 행당동 298

auction_1_drop.주소[125] # 은평구 진관동 275
#auction_1_drop.주소[540] # 관악구 신림동 507
auction_1_drop.주소[904] # 마포구 노고산동 107-2
#auction_1_drop.주소[923] # 서대문구 북가좌동 385-41
auction_1_drop.주소[178] # 동작구 노량진동 307

auction_1_drop.주소[1261] # 성북구 정릉동 1031
auction_1_drop.주소[1294] # 영등포구 문래로20길 164
auction_1_drop.주소[1364] # 용산구 신계동 43-8
auction_1_drop.주소[1395] # 성북구 정릉동 1031-1
auction_1_drop.주소[227] # 중구 명동2가 98-1

auction_1_drop.주소[233] # 은평구 불광동 310
auction_1_drop.주소[237] # 강남구 신사동 606
auction_1_drop.주소[243] # 동대문구 답십리동 956-7
auction_1_drop.주소[1521] # 중구 회현동1가 202
auction_1_drop.주소[275] # 영등포구 당산동3가 92

auction_1_drop.주소[1862] # 서초구 서초동 1317
auction_1_drop.주소[2226] # 노원구 상계동 6
auction_1_drop.주소[2227] # 노원구 상계동 6
auction_1_drop.주소[332] # 영등포구 영등포동3가 4
#auction_1_drop.도로명주소[2550] # 관악구 봉천동 971

auction_1_drop.주소[348] # 영등포구 영등포동5가 19
auction_1_drop.주소[356] # 중구 남창동 32
auction_1_drop.주소[2458] # 양천구 신정동 335

'서울특별시 양천구 신정동 335외 1필지 쌍용아파트상가 제2동 제지하층 제101호'

In [179]:
# 우편번호 넣기
import warnings
warnings.filterwarnings(action='ignore')

auction_1_drop.우편번호[68]= 1395.0 
auction_1_drop.우편번호[82]= 3138.0
auction_1_drop.우편번호[90]= 2580.0
auction_1_drop.우편번호[633]= 2702.0
auction_1_drop.우편번호[113]= 4715.0

auction_1_drop.우편번호[125]= 3307.0
#auction_1_drop.우편번호[540]= 8762.0
auction_1_drop.우편번호[904]= 4101.0
#auction_1_drop.우편번호[923]= 3714.0
auction_1_drop.우편번호[178]= 6935.0

auction_1_drop.우편번호[1261]= 2702.0
auction_1_drop.우편번호[1294]= 7297.0
auction_1_drop.우편번호[1364]= 4366.0
auction_1_drop.우편번호[1395]= 2702.0
auction_1_drop.우편번호[227]= 4535.0

auction_1_drop.우편번호[233]= 3345.0
auction_1_drop.우편번호[237]= 6023.0
auction_1_drop.우편번호[243]= 2619.0
auction_1_drop.우편번호[1521]= 4529.0
auction_1_drop.우편번호[275]= 7257.0

auction_1_drop.우편번호[1862]= 6615.0
auction_1_drop.우편번호[2226]= 1633.0
auction_1_drop.우편번호[2227]= 1633.0
auction_1_drop.우편번호[332]= 7302.0
#auction_1_drop.우편번호[2550]= 8722.0

auction_1_drop.우편번호[348]= 7250.0
auction_1_drop.우편번호[356]= 4529.0
auction_1_drop.우편번호[2458]= 8104.0

In [180]:
# 우편번호 타입확인 후 변경
# 혹시 결측치 미리 채울 수 있으면 채운 후 실행하기
auction_1_drop.우편번호 = auction_1_drop.우편번호.astype('str')
addr_code = auction_1_drop.우편번호
for idx, i in enumerate(addr_code) :
    code = i
    code_split = code[0:4]
    addr_code[idx] = '0' + code_split
auction_1_drop.우편번호 = addr_code

In [181]:
# 우편번호 변경
auction_1_drop.우편번호[11]= '06328'
auction_1_drop.우편번호[1340]= '06328'
auction_1_drop.우편번호[2428]= '06328'
auction_1_drop.우편번호[2612]= '06328'

def grep(reg_exp,my_text):
    result = []
    reg_exp_compiled = re.compile(reg_exp)
    for i in range(len(my_text)):
        if reg_exp_compiled.search(my_text[i]):
            result.append(my_text[i])
    return result

test = "".join(auction_1_drop.도로명주소[1])
test

for i in range(auction_1_drop.shape[0]):
    if type(auction_1_drop.도로명주소[i]) == str:
        auction_1_drop.도로명주소[i] = auction_1_drop.도로명주소[i].split(' ')

for i in range(auction_1_drop.shape[0]):
    try:
        print(grep(".*로w*",auction_1_drop.도로명주소[i]))
    except:
        print('error')

for i in range(auction_1_drop.shape[0]):
    try:
        if grep("^[ㄱ-ㅣ가-힣].*로w*",auction_1_drop.도로명주소[i])[-1] != '종로구':
            print(grep("^[ㄱ-ㅣ가-힣].*로w*",auction_1_drop.도로명주소[i])[-1])
    except:
        print('error')


addr = auc_post.도로명주소
for idx, i in enumerate(addr) :
    code = i
    addr[idx] = i.split(' ')
auc_post.도로명주소 = addr

### 회차 컬럼 추가하기

In [121]:
# 회차 컬럼 추가하기
turn = pd.read_csv('0_경매최종에 병합_상가경매_회차별데이터(중복제거)_최종.csv', header='infer', engine='python', encoding='utf-8-sig', sep=',')

In [122]:
turn_1 = turn.groupby('Index').agg({"회차":[max]})
turn_1.reset_index()

                    Index  회차
                          max
0         2009-26405 502호   3
1           2009-6619 천호동   4
2        2010-12405 디036호  17
3        2010-12405 디049호  17
4              2010-24206   4
5              2011-13351   4
6        2011-19638 1004호   2
7        2011-19638 1005호   2
8        2011-19638 1105호   2
9        2011-19638 1109호   2
10       2011-19638 1204호   2
11       2011-19638 1209호   4
12       2011-19638 1409호   2
13        2011-19638 704호   4
14        2011-19638 707호   2
15        2011-19638 904호   2
16        2011-19638 909호   2
17        2011-19638 비01호   2
18             2011-20499   3
19             2011-35860   4
20         2011-4166 507호   2
21              2011-6237   1
22         2011-7940 118호   7
23        2011-9840 디065호  14
24     2012-10592 1077-1호   9
25      2012-10939 에이029호  16
26             2012-11656   3
27      2012-12524 제7042호   3
28       2012-12737 시068호   9
29         2012-15699 천호동  10
...                   ...  ..
2516       2018-524 제201호   3
2517     2018-524 제402-2호   4
2518     2018-5349 지하층57호   5
2519     2018-5406 제3100호   1
2520      2018-5659 제816호   2
2521       2018-578 제132호   5
2522       2018-585 제227호   2
2523       2018-585 제228호   2
2524       2018-585 제229호   2
2525       2018-585 제237호   2
2526       2018-585 제238호   2
2527       2018-585 제240호   2
2528       2018-585 제241호   2
2529       2018-585 제253호   2
2530       2018-585 제256호   2
2531       2018-585 제257호   2
2532       2018-585 제258호   2
2533            2018-5881   2
2534      2018-5943 제133호   2
2535      2018-6044 제112호   1
2536     2018-6328 제비106호   3
2537      2018-6358 제616호   2
2538      2018-6464 제103호   4
2539        2018-6464 제6호   4
2540      2018-6965 캐피탈호텔   1
2541      2018-7733 제101호   2
2542      2018-8590 제112호   2
2543             2018-870   2
2544       2018-920 제041호   5
2545  2018-936 제102-3602호   1

[2546 rows x 2 columns]

In [123]:
auction_max = pd.merge(auction_1_drop, turn_1,how = 'left', on = 'Index')`

SyntaxError: invalid syntax (<ipython-input-123-9207f38c3eba>, line 1)

In [ ]:
# 경매데이터 : auction_1_drop 으로 맵핑하기

# 경매데이터에 바로 맵핑

## 경매 + 우편번호(법정동, 도로명 가져오기)

### 우편번호 데이터 정리

In [182]:
# 우편번호 DB
raw_addr_code = pd.read_csv('서울특별시.csv', names = ['우편번호','시도','시도영문','시군구','시군구영문',
                                                  '읍면','읍면영문','도로명코드','도로명','도로명영문',
                                                  '지하여부','건물번호본번','건물번호부번','건물관리번호',
                                                  '다량배달처명','시군구용건물명','법정동코드','법정동명',
                                                  '리명','행정동명','산여부','지번본번','읍면동일련번호',
                                                  '지번부번','구우편번호','우편번호일련번호']
                            ,sep='|', engine='python')

In [183]:
raw_addr_code = raw_addr_code.drop(['시도영문', '시군구영문', '읍면영문', '도로명영문','리명', 
                                    '산여부','읍면', '다량배달처명','시군구용건물명', '구우편번호', 
                                    '우편번호일련번호'], axis=1)

In [184]:
# addr_code_1 : 우편번호, 도로명코드, 법정동코드
addr_code_1 = raw_addr_code.drop(['시도', '시군구', '도로명코드', '지하여부', '건물번호본번', '건물번호부번',
       '건물관리번호', '법정동명', '행정동명', '지번본번', '읍면동일련번호', '지번부번'], axis=1)

In [185]:
# 동일한 관측치행 지우기
addr_code_2 = addr_code_1.drop_duplicates()
# 우편번호, 도로명, 법정동코드 남기기

In [186]:
addr_code_2.columns

Index(['우편번호', '도로명', '법정동코드'], dtype='object')

In [187]:
# 생활인구, 유동인구,  매출데이터 맵핑용
addr_code_2.columns = ['우편번호', '도로명주소만', '법정동코드']

In [188]:
# 경매데이터 맵핑용
addr_code_3 = addr_code_2.drop(['도로명주소만'], axis=1)
addr_code_3.columns

Index(['우편번호', '법정동코드'], dtype='object')

In [189]:
addr_code_3 = addr_code_3.drop_duplicates()

### 경매 + 우편번호 merge

In [190]:
auc_post = pd.merge(auction_1_drop, addr_code_3, how = 'left', on = '우편번호')

In [ ]:
# 결과 : 경매데이터 + 도로명, 법정데이터

## 경매 + 생활인구

### 생활인구 데이터 정리

In [191]:
### 생활인구정리
population = pd.read_csv('4_생활인구.csv', engine='python', header='infer', encoding='UTF-8')
population = population.drop(['기준일ID', '시간대구분'], axis=1)
population_gruop = population.groupby("행정동코드").mean()
population_gruop.reset_index()

        행정동코드        총생활인구수
0    11110515  16551.054077
1    11110530  31276.468667
2    11110540   6941.842364
3    11110550  12913.703762
4    11110560  19744.041674
5    11110570   7243.537884
6    11110580   8771.958811
7    11110600   8088.628950
8    11110615  71579.869659
9    11110630  20416.298964
10   11110640  25411.950432
11   11110650  35866.817822
12   11110670  13343.744560
13   11110680   9238.290657
14   11110690   4230.977838
15   11110700   8065.269825
16   11110710  15645.069135
17   11140520  32902.342321
18   11140540  30312.387805
19   11140550  43424.429251
20   11140570  16549.280046
21   11140580  12676.773278
22   11140590  24497.998218
23   11140605  18501.803007
24   11140615  26933.308612
25   11140625  16855.807545
26   11140635  15856.239749
27   11140645  12066.200055
28   11140650  12301.199662
29   11140665   8976.725269
..        ...           ...
394  11710631  13463.766399
395  11710632  29797.334543
396  11710641  23139.751893
397  11710642  44033.189815
398  11710646  33619.799517
399  11710647  34978.213056
400  11710650  37399.934889
401  11710670  37228.549732
402  11710680  52371.416268
403  11710690  25203.243680
404  11710710  46656.687700
405  11710720  10916.745083
406  11740515  38607.371554
407  11740520  19682.386863
408  11740530  26784.155925
409  11740540  18313.675054
410  11740550  22352.127763
411  11740560   8686.611755
412  11740570  29871.332925
413  11740580  17583.852859
414  11740590  15648.026967
415  11740600  32017.300148
416  11740610  46171.840616
417  11740620  32432.241398
418  11740640  25925.604007
419  11740650  28492.304160
420  11740660  29312.568610
421  11740685  55445.597574
422  11740690   7758.858306
423  11740700  29446.507401

[424 rows x 2 columns]

In [192]:
# 법정동-행정동 코드
dong_mapping = pd.read_csv('3_code.csv', engine='python', header='infer', encoding='euc-kr')
dong_mapping['행정동코드'] = dong_mapping['행정동코드']//100

In [193]:
# 생활인구 + 법정동행정동 merge
population_1 = pd.merge(dong_mapping, population_gruop, how = 'left', on = '행정동코드')

In [194]:
population_1 = population_1.drop(['행정동코드'], axis=1)

# 생활인구, 법정동코드 남기기

In [195]:
population_1.법정동코드 = population_1.법정동코드.astype('str')

In [196]:
population_gruop2 = population_1.groupby('법정동코드').mean()
population_gruop2.reset_index()

          법정동코드        총생활인구수
0    1111010100  16551.054077
1    1111010200  16551.054077
2    1111010300  16551.054077
3    1111010400  16551.054077
4    1111010500  16551.054077
5    1111010600  31276.468667
6    1111010700  31276.468667
7    1111010800  16551.054077
8    1111010900  16551.054077
9    1111011000  16551.054077
10   1111011100  16551.054077
11   1111011200  31276.468667
12   1111011300  31276.468667
13   1111011400  31276.468667
14   1111011500  31276.468667
15   1111011600  31276.468667
16   1111011700  31276.468667
17   1111011800  31276.468667
18   1111011900  39802.464134
19   1111012000  31276.468667
20   1111012100  31276.468667
21   1111012200  71579.869659
22   1111012300  71579.869659
23   1111012400  71579.869659
24   1111012500  71579.869659
25   1111012600  71579.869659
26   1111012700  71579.869659
27   1111012800  71579.869659
28   1111012900  71579.869659
29   1111013000  53723.343741
..          ...           ...
437  1168010800  44777.407978
438  1168011000  44336.069371
439  1168011100  42837.792010
440  1168011200  42837.792010
441  1168011300  42837.792010
442  1168011400  18257.886320
443  1168011500  22362.524802
444  1168011800  28698.381096
445  1171010100  34479.161493
446  1171010200  35929.965690
447  1171010300  28158.513326
448  1171010400  23673.189277
449  1171010500  29881.930533
450  1171010600  31160.658502
451  1171010700  26911.724851
452  1171010800  33597.580408
453  1171010900  37543.734130
454  1171011100  24878.466944
455  1171011200  36823.132249
456  1171011300  20417.735974
457  1171011400  13774.320504
458  1174010100  22548.915490
459  1174010200  15519.369759
460  1174010300  29144.879209
461  1174010500  55445.597574
462  1174010600  18602.682854
463  1174010700  21034.404250
464  1174010800  27910.158926
465  1174010900  36873.794054
466  1174011000  38607.371554

[467 rows x 2 columns]

### 경매(우편) + 생활인구 merge

In [197]:
auc_pop = pd.merge(auc_post, population_gruop2, how = 'left', on = '법정동코드')

In [150]:
# 결과 : 경매데이터 (+ 도로명, 법정데이터) + 생활인구

## 경매 + 유동인구

### 유동인구 데이터 정리

In [198]:
### 유동인구 
flow_pop = pd.read_csv('2_building_code.csv', engine='python', header='infer', encoding = 'euc-kr')
flow_pop.columns = ['기준년월', '상권코드', '도로명', '유동인구']
flow_pop = flow_pop.drop(['기준년월', '상권코드'], axis = 1)

# 도로명, 유동인구만 남기기

In [199]:
flow_pop.columns = ['도로명주소만', '유동인구']

In [200]:
# 도로명주소인 유동인구데이터를 법정동주소 기준으로 변경
flow_pop = pd.merge(flow_pop, addr_code_2, how = 'left', on = '도로명주소만')

In [201]:
flow_pop.columns

Index(['도로명주소만', '유동인구', '우편번호', '법정동코드'], dtype='object')

In [202]:
flow_pop = flow_pop.drop(['도로명주소만', '우편번호'], axis = 1)

In [203]:
flow_pop = flow_pop.groupby('법정동코드').mean()
flow_pop.reset_index()

          법정동코드           유동인구
0    1111010100    1390.375000
1    1111010200    1829.500000
2    1111010300   13455.000000
3    1111010400   13455.000000
4    1111010500   17369.750000
5    1111010600   17369.750000
6    1111010800   50850.200000
7    1111010900   25775.250000
8    1111011000   50093.958333
9    1111011100    9657.583333
10   1111011200   37626.750000
11   1111011300   23407.333333
12   1111011400   14715.000000
13   1111011500   11078.125000
14   1111011600   19078.750000
15   1111011800   19078.750000
16   1111012100   47370.916667
17   1111012200   13542.250000
18   1111012400   13542.250000
19   1111013000   38257.500000
20   1111013100   22957.875000
21   1111013200   37848.250000
22   1111013300   38056.875000
23   1111013400   46303.000000
24   1111013900    6539.750000
25   1111014000   21764.250000
26   1111014100   28591.375000
27   1111014200   15519.062500
28   1111014300   28161.562500
29   1111014400    9512.000000
..          ...            ...
331  1168010300   35259.500000
332  1168010400    2099.500000
333  1168010500   63385.750000
334  1168010600   51367.250000
335  1168010700   49174.250000
336  1168010800   36083.100000
337  1168011000    1673.750000
338  1168011400   35602.708333
339  1168011500    3016.750000
340  1168011800   94323.250000
341  1171010100   51511.390625
342  1171010200   13211.428571
343  1171010300   52655.583333
344  1171010400   93758.590909
345  1171010500   80553.125000
346  1171010600  140105.450000
347  1171010700  126460.375000
348  1171010800   88405.750000
349  1171011100   91018.480000
350  1171011200   19075.638889
351  1171011300   19945.750000
352  1171011400   50741.583333
353  1174010100   64388.250000
354  1174010200   21431.000000
355  1174010300   16387.000000
356  1174010500   53987.750000
357  1174010600    2795.000000
358  1174010700  140858.200000
359  1174010800   94599.980000
360  1174010900  107290.750000

[361 rows x 2 columns]

### 경매(우편, 생활인구) + 유동인구 merge

In [204]:
auc_flow = pd.merge(auc_pop, flow_pop, how = 'left', on = '법정동코드')

In [158]:
# 결과 : 경매데이터 ((+ 도로명, 법정데이터) + 생활인구) + 유동인구

## 경매 + 매출

### 매출데이터 정리

In [205]:
### 매출
sales = pd.read_csv('5_상권추정매출.csv', engine='python', header='infer', encoding = 'euc-kr')
sales.columns = ['도로명주소만', '매출금액', '매출건수']

In [206]:
sales_group = sales.groupby(['도로명주소만']).mean()
print(sales_group.shape)
sales_group.reset_index().head()

# 도로명, 매출금액, 매출건수 남기기

(1738, 2)

     도로명주소만          매출금액         매출건수
0    가락로16길  6.762326e+07  2827.043478
1    가락로28길  4.173171e+07  2385.160000
2    가락로36길  3.134447e+07  1556.727273
3  가로공원로76길  1.104793e+08  5061.108108
4   가마산로12길  4.259197e+06   179.500000

In [207]:
# 도로명주소인 매출데이터를 법정동주소 기준으로 변경
sales_group = pd.merge(sales_group, addr_code_2, how = 'left', on = '도로명주소만')

In [208]:
sales_group.columns

Index(['도로명주소만', '매출금액', '매출건수', '우편번호', '법정동코드'], dtype='object')

In [209]:
sales_group = sales_group.drop(['도로명주소만', '우편번호'], axis = 1)

In [210]:
sales_group = sales_group.groupby('법정동코드').mean()
sales_group.reset_index()

          법정동코드          매출금액         매출건수
0    1111010100  1.865188e+07  1046.450000
1    1111010200  5.072791e+07   749.300000
2    1111010300  4.950642e+07  2711.181818
3    1111010400  4.950642e+07  2711.181818
4    1111010500  7.314247e+07  1716.500000
5    1111010600  7.314247e+07  1716.500000
6    1111010800  7.609117e+07  4016.840980
7    1111010900  2.492036e+07  1480.340336
8    1111011000  7.017158e+07  3748.504738
9    1111011100  2.010998e+07   457.764706
10   1111011200  6.661150e+07  3354.935050
11   1111011300  7.579743e+07  3482.162029
12   1111011400  1.223931e+08  2852.918778
13   1111011500  9.475390e+07  2193.176471
14   1111011600  1.853347e+08  3857.352941
15   1111011800  1.853347e+08  3857.352941
16   1111012100  3.746431e+07  2177.049383
17   1111012200  7.582639e+07  6225.285714
18   1111012400  7.582639e+07  6225.285714
19   1111013000  5.489139e+07  1923.325758
20   1111013100  3.955029e+07  1187.816667
21   1111013200  7.029256e+07  3683.468889
22   1111013300  7.331901e+07  3583.126984
23   1111013400  8.209746e+07  4324.777778
24   1111013900  6.984388e+07  1655.333333
25   1111014000  1.050026e+08  4051.851852
26   1111014100  8.980233e+07  5211.661236
27   1111014200  1.267864e+08  5708.757143
28   1111014300  1.267236e+08  6242.798079
29   1111014400  1.065209e+08  4425.000000
..          ...           ...          ...
331  1168010300  1.312403e+08  6936.387097
332  1168010400  4.833052e+07   685.750000
333  1168010500  1.799446e+08  5206.260000
334  1168010600  1.797810e+08  3814.329259
335  1168010700  6.673816e+07  3138.863636
336  1168010800  8.136866e+07  3576.172222
337  1168011000  4.941377e+07  2841.785714
338  1168011400  5.509616e+07  3083.886364
339  1168011500  1.842006e+07  1379.152778
340  1168011800  2.231657e+08  9405.900000
341  1171010100  6.777672e+07  3798.676688
342  1171010200  6.193301e+07  3442.006944
343  1171010300  3.945274e+07  1850.062666
344  1171010400  1.004037e+08  4665.905867
345  1171010500  8.415056e+07  4499.785617
346  1171010600  1.276173e+08  6476.235839
347  1171010700  1.623279e+08  6765.435135
348  1171010800  6.680481e+07  3573.666667
349  1171011100  1.000415e+08  4228.662531
350  1171011200  5.381119e+07  2409.301587
351  1171011300  2.349221e+07  1392.576923
352  1171011400  9.839449e+07  4368.202899
353  1174010100  6.052649e+07  3153.794118
354  1174010200  3.420459e+07  1923.321429
355  1174010300  4.565829e+07  2120.727273
356  1174010500  4.469962e+07  2066.778899
357  1174010600  6.696007e+06   226.769231
358  1174010700  1.130102e+08  6982.071854
359  1174010800  7.702306e+07  3156.821297
360  1174010900  7.058561e+07  3084.588235

[361 rows x 3 columns]

### 경매(우편, 생활인구, 유동인구) + 매출 merge

In [211]:
auction_end = pd.merge(auc_flow, sales_group, how = 'left', on = '법정동코드')

In [166]:
# 결과 : 경매데이터 (((+ 도로명, 법정데이터) + 생활인구) + 유동인구) + 매출

# 결과 확인

In [167]:
auction_end.columns

Index(['사건번호', '중복사건여부', '유치권여부', '대항력있는임차인여부', '위반건축물여부', '대지권미등기여부',
       '권리분석기타코드', '권리분석코드명', '감정가', '최저가', '최저가율', '매각가', '매각가율', '경매결과',
       '조회수', 'Index', '경매구분', '주소', '도로명주소', '우편번호', '용도', '대지권', '전용면적',
       '제시외', '사건접수날짜', '청구금액', '개시결정', '기일현황', '물건현황_토지이용계획', '감정평가현황',
       '임차인_대항력여부', '등기사항_소멸여부', '미상임차인_수', '예상추가금액', '법정동코드', '총생활인구수',
       '유동인구', '매출금액', '매출건수'],
      dtype='object')

In [168]:
auction_end.shape

(3434, 39)

In [169]:
auction_end.isnull().sum()

사건번호              0
중복사건여부            0
유치권여부             0
대항력있는임차인여부        0
위반건축물여부           0
대지권미등기여부          0
권리분석기타코드          0
권리분석코드명           0
감정가               0
최저가               0
최저가율              0
매각가             246
매각가율            246
경매결과              0
조회수               0
Index             0
경매구분              0
주소                0
도로명주소            40
우편번호              0
용도                0
대지권               0
전용면적              0
제시외            3130
사건접수날짜          552
청구금액              0
개시결정              0
기일현황              0
물건현황_토지이용계획       0
감정평가현황            0
임차인_대항력여부         0
등기사항_소멸여부         0
미상임차인_수           0
예상추가금액            0
법정동코드             0
총생활인구수            0
유동인구            523
매출금액            523
매출건수            523
dtype: int64

In [170]:
auction_end = auction_end.dropna(subset=['유동인구', '매출금액','매출건수'])

In [212]:
print(auction_1_drop.shape)
print(auc_post.shape)
print(auc_pop.shape)
print(auc_flow.shape)
print(auction_end.shape)
# 우편번호 맵핑시 데이터 뻥튀기됨, 한 우편번호에 다른 법정동코드 있는게 있는 듯함.

(2622, 34)
(3434, 35)
(3434, 36)
(3434, 37)
(3434, 39)

In [214]:
auction_end.to_csv('0_손봐야하는최종데이터.csv', header='infer', encoding='utf-8-sig', sep=',',index=False)

In [78]:
auction_end.columns

Index(['사건번호', '중복사건여부', '유치권여부', '대항력있는임차인여부', '위반건축물여부', '대지권미등기여부',
       '권리분석기타코드', '권리분석코드명', '감정가', '최저가', '최저가율', '매각가', '매각가율', '경매결과',
       'Index', '경매구분', '주소', '도로명주소', '우편번호', '용도', '대지권', '전용면적', '제시외',
       '사건접수날짜', '청구금액', '개시결정', '미상임차인_수', '예상추가금액', '법정동코드', '총생활인구수',
       '유동인구', '매출금액', '매출건수'],
      dtype='object')

In [79]:
auction_end.우편번호.value_counts()

08288    230
05116    111
02573     78
07327     53
02568     46
03139     36
04382     36
04537     36
02569     34
08216     29
08215     27
01734     25
06720     23
02852     22
06099     22
04545     22
04368     21
03397     19
03009     19
04202     19
05556     19
04304     18
03100     18
08213     18
07071     18
04376     18
03345     18
01114     16
05510     16
04529     16
        ...
08778      1
07372      1
04745      1
01827      1
06222      1
05275      1
05408      1
05380      1
06142      1
05752      1
08392      1
06914      1
06291      1
04403      1
07635      1
08786      1
04001      1
06928      1
01628      1
08319      1
05007      1
02862      1
07580      1
06229      1
06234      1
07678      1
04064      1
03044      1
08009      1
08257      1
Name: 우편번호, Length: 831, dtype: int64

In [228]:
addr_code_3.우편번호.value_counts()[180:200]

02429    2
04110    2
07291    2
04539    2
07595    2
07231    2
03193    2
02808    2
06218    2
03670    2
07644    2
04576    2
07598    2
03737    2
04554    2
07633    2
05678    2
03751    2
03146    2
03184    2
Name: 우편번호, dtype: int64

In [80]:
auction_end[auction_end['우편번호'] == '08288'].iloc[1,:]

사건번호                                      서울중앙 2017-12494 물번[4]
중복사건여부                                                        N
유치권여부                                                         N
대항력있는임차인여부                                                    N
위반건축물여부                                                       N
대지권미등기여부                                                      N
권리분석기타코드                                                      0
권리분석코드명                                                       0
감정가                                                   290000000
최저가                                                   232000000
최저가율                                                         80
매각가                                                 2.33333e+08
매각가율                                                         80
경매결과                                                       잔금납부
Index                                       2017-3489 제1층 제151호
경매구분                                                         임의
주소                        서울특별시 구로구 구로동 3-25 신도림테크노마트 제1층 제151호
도로명주소         (08288) 서울특별시 구로구 구로동 3-25 신도림테크노마트 제1층 제151호\...
우편번호                                                      08288
용도                                                       상가(점포)
대지권                                                        2.17
전용면적                                                       9.82
제시외                                                         NaN
사건접수날짜                                                      NaN
청구금액                                                  180191166
개시결정                                                 2017-04-03
미상임차인_수                                                       0
예상추가금액                                                        0
법정동코드                                                1153010100
총생활인구수                                                  34941.8
유동인구                                                    30692.4
매출금액                                                4.78941e+07
매출건수                                                    2532.77
Name: 43, dtype: object

In [76]:
addr_code_3[addr_code_3['우편번호'] == '07505']

        우편번호       법정동코드
68097  07505  1150011000
68406  07505  1150010800
70423  07505  1150011100
73655  07505  1150010900
77455  07505  1150011200
77465  07505  1150011300
77526  07505  1150010700