In [2]:
import os
import pandas as pd
import numpy as np
import csv

In [3]:
os.chdir(r'C:\Users\student\Desktop\개미\실거래가\내국인_생활인구')

In [4]:
df7 = pd.read_csv('7.csv',engine='python', header = 'infer', encoding = 'euc-kr')
df8 = pd.read_csv('8.csv',engine='python', header = 'infer', encoding = 'euc-kr')
df9 = pd.read_csv('9.csv',engine='python', header = 'infer', encoding = 'euc-kr')
df10 = pd.read_csv('10.csv',engine='python', header = 'infer', encoding = 'euc-kr')
df11 = pd.read_csv('11.csv',engine='python', header = 'infer', encoding = 'euc-kr')
df12 = pd.read_csv('12.csv',engine='python', header = 'infer', encoding = 'euc-kr')

In [5]:
df = pd.concat([df7,df8,df9,df10,df11,df12])

In [6]:
df.shape

(1709568, 1)

In [7]:
df.columns = ['col']
df[['기준일ID','시간대구분', '행정동코드', '총생활인구수']] = df.col.str.split("\t",expand=True)
df = df.drop(['col'], axis=1)

In [8]:
df.head(5)

      기준일ID 시간대구분     행정동코드      총생활인구수
0  20180701     0  11215760  19006.4504
1  20180701     0  11710632  30437.2743
2  20180701     0  11590630  38560.4198
3  20180701     0  11590660  43559.7821
4  20180701     0  11590650  16676.7655

In [9]:
df.iloc[1]

기준일ID       20180701
시간대구분              0
행정동코드       11710632
총생활인구수    30437.2743
Name: 1, dtype: object

In [10]:
df = df.reset_index()

In [11]:
df.loc[0]

index              0
기준일ID       20180701
시간대구분              0
행정동코드       11215760
총생활인구수    19006.4504
Name: 0, dtype: object

In [12]:
df.groupby(['기준일ID']).mean()

             index
기준일ID
20180701    5087.5
20180702   15263.5
20180703   25439.5
20180704   35615.5
20180705   45791.5
20180706   55967.5
20180707   66143.5
20180708   76319.5
20180709   86495.5
20180710   96671.5
20180711  106847.5
20180712  117023.5
20180713  127199.5
20180714  137375.5
20180715  147551.5
20180716  157727.5
20180717  167903.5
20180718  178079.5
20180719  188255.5
20180720  198431.5
20180721  208607.5
20180722  218783.5
20180723  228959.5
20180724  239135.5
20180725  249311.5
20180726  259487.5
20180727  269663.5
20180728  279839.5
20180729  290015.5
20180730  300191.5
...            ...
20181121  208607.5
20181122  218783.5
20181201    5087.5
20181202   15263.5
20181203   25439.5
20181204   35615.5
20181205   45791.5
20181206   55967.5
20181207   66143.5
20181208   76319.5
20181209   86495.5
20181210   96671.5
20181211  106847.5
20181212  117023.5
20181213  127199.5
20181214  137375.5
20181215  147551.5
20181216  157727.5
20181217  167903.5
20181218  178079.5
20181219  188255.5
20181220  198431.5
20181221  208607.5
20181222  218783.5
20181223  228959.5
20181227  239135.5
20181228  249311.5
20181229  259487.5
20181230  269663.5
20181231  279839.5

[168 rows x 1 columns]

## 데이터 분할(열기준)

In [13]:
df = [ pd.DataFrame(),pd.DataFrame(),pd.DataFrame(),pd.DataFrame(),pd.DataFrame(),pd.DataFrame()]
list_name = ['7.csv', '8.csv', '9.csv', '10.csv', '11.csv', '12.csv' ]
for i,name in enumerate(list_name):
    df[i] = pd.read_csv(name, header='infer',encoding='latin1', index_col=False)
    df[i].columns = ['col']
    df[i][['기준일ID','시간대구분', '행정동코드', '총생활인구수']] = df[i].col.str.split("\t",expand=True)
    df[i] = df[i].drop(['col'], axis=1)
    print(df[i].head(5))

      기준일ID 시간대구분     행정동코드      총생활인구수
0  20180701     0  11215760  19006.4504
1  20180701     0  11710632  30437.2743
2  20180701     0  11590630  38560.4198
3  20180701     0  11590660  43559.7821
4  20180701     0  11590650  16676.7655
      기준일ID 시간대구분     행정동코드      총생활인구수
0  20180801     0  11110710  13724.4866
1  20180801     0  11110680   9403.0757
2  20180801     0  11545630  23021.2929
3  20180801     0  11650570  22960.1814
4  20180801     0  11680650  38987.8375
      기준일ID 시간대구분     행정동코드      총생활인구수
0  20180901     0  11110515  13976.7333
1  20180901     0  11110530  17531.9424
2  20180901     0  11110540   4562.9781
3  20180901     0  11110550  12737.1668
4  20180901     0  11110560  23056.2094
      기준일ID 시간대구분     행정동코드      총생활인구수
0  20181001     0  11320511  25354.5457
1  20181001     0  11140635  18969.1407
2  20181001     0  11620645  28319.0418
3  20181001     0  11215770  35403.5017
4  20181001     0  11560670   7932.3008
      기준일ID 시간대구분     행정동코드      총생활인구수
0  20181101     0  11110515  14799.0314
1  20181101     0  11110540   5072.4639
2  20181101     0  11110550  13510.7258
3  20181101     0  11110560  22047.6664
4  20181101     0  11170530  10764.3579
      기준일ID 시간대구분     행정동코드      총생활인구수
0  20181201     0  11110515  14201.5525
1  20181201     0  11110530  17779.8374
2  20181201     0  11110540   4342.5397
3  20181201     0  11110550  13647.2016
4  20181201     0  11110560  21383.3683

### append

In [14]:
df[0].shape

(315456, 4)

In [15]:
result = df[0].append(df[1])

In [16]:
result = result.append(df[2])

In [17]:
result = result.append(df[3])

In [18]:
result = result.append(df[4])

In [19]:
df_result = result.append(df[5])

In [20]:
df_result.shape

(1709568, 4)

In [21]:
df_result.head()

      기준일ID 시간대구분     행정동코드      총생활인구수
0  20180701     0  11215760  19006.4504
1  20180701     0  11710632  30437.2743
2  20180701     0  11590630  38560.4198
3  20180701     0  11590660  43559.7821
4  20180701     0  11590650  16676.7655

In [22]:
df_result.to_csv('dong_code.csv',index=False, header=True)

In [ ]:
df = read